<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  {{- partial "head.html" . -}}
  <body class="dark:bg-gray-800 dark:text-white relative flex flex-col min-h-screen">
    {{- partial "header.html" . -}}
    <main class="flex-1">
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>

  <script>
    if (window.location.pathname.startsWith("/en/blog/")) {
        var newPath = window.location.pathname.replace("/en/blog/", "/blog/");
        window.location.replace(newPath + window.location.search + window.location.hash);
    }
  </script>
  
</html>
